<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <p class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-zinc-900">
      Source control documentation /w AI
    </p>
    <p class="mt-4 text-base leading-7 text-zinc-600">
      LLM to read and help assist navigation through open-source (Gitbook) documentation.
      Just set config to point to a public repo, we will get all the relevant .md files and create
      vector database for an LLM for you to ask information on.
    </p>
    <p class="mt-4 text-base leading-7 text-zinc-600">
      <li>Show local vs remote hashes</li>
      <li>Document files (.md)</li>
      <li>Link to the project</li>
      <li>Delete the REPO</li>
      <li>Add custom link to project</li>
      <li>Refresh - init the document data</li>
      <li>Input to interact with the bot?</li>
    </p>
  </div>
</div>
